@charset "utf-8";

:root {
  --baxe_txtColor: #333;
}

* {
  margin: 0px;
  padding: 0px
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--baxe_txtColor);
}

body {
  font-family: "맑은고딕", arial, sans-serif;
  font-size: 13px;
  color: var(--baxe_txtColor);
}